<div class="wrapper">

  <h1>Listings</h1>

  <% @listings.each do | listing | %>
    <div class="listing-item">
      <%= link_to listing.title, listing_path(listing) %>
    </div>
  <% end %>


</div>

